##List Manipulation - Worksheet(5.3)

1 - Write a Python program to insert a given string at the beginning of all items in a list. 

lt =  [1,2,3,4]

string : emp


output : ['emp1', 'emp2', 'emp3', 'emp4']

In [ ]:
#write your code here

In [ ]:
num = [1,2,3,4]
print(['emp{0}'.format(i) for i in  num])

2 - Write a Python program to count integer in a given mixed list. 

E.g :

lt = [1, 'abcd', 3, 1.2, 4, 'xyz', 5, 'pqr', 7, -5, -12.22 , 'shiva' , 'rajit']

Number of integers in the list:

6

In [ ]:
#write your code here

In [ ]:
test_list = [1, 'abcd', 3, 1.2, 4, 'xyz', 5, 'pqr', 7, -5, -12.22 , 'shiva' , 'rajit']
  
res = len(list(i for i in test_list if isinstance(i, int))) 
  
print ("The length of integers in list is : " + str(res))

3 - Write a Python program to find the number of  occurrence of value x in a given list.

Examples:

lt = [1, 2, 8, 5, 8, 7, 8]

x = 8

Output : 3

In [ ]:
#write your code here

In [ ]:
L = [1, 2, 8, 5, 8, 7, 8] 
  
frequency = print(L.count(max(L)))

4 -  Write a Python program to check whether a specified list is sorted or not. 


lt = [1, 2, 4, 6, 8, 10, 12, 14, 16, 17]

If the said list is sorted! : 
True

otherwise 

if the said list is not sorted! : 
False

In [ ]:
#write your code here

In [ ]:
lt = [1,2,4,6,8,10,12,14,16,17]

sort = sorted(lt)

if lt == sort:
    print('List is sorted :', lt)
else:
    print('List is not sorted :', lt)

5 - Write a Python program to check if the elements of a given list are unique or not. 


lt = [1, 2, 4, 6, 8, 2, 1, 4, 10, 12, 14, 12, 16, 17]

if the said list contains all unique elements! : 
False



lt = [2, 4, 6, 8, 10, 12, 14]

if the said list contains all unique elements! : 
True

In [ ]:
#write your code here

In [ ]:
lt = [2,4,6,8,10,12,14]
lt1=[]

n = len(lt)

for x in range(0, n):
  if lt[x] not in lt1:
    lt1.append(lt[x])
  else:
    pass

if lt1 == lt:
  print("list contains all unique elements : ",(lt1 == lt))
else:
  print("list contains all unique elements : ",(lt1 == lt))

6 - Write a Python program to remove all elements from a given list present in another list. 


lt  = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

lt2 =  [2, 4, 6, 8]

Remove all elements from 'lt1' present in 'lt2:

[1, 3, 5, 7, 9, 10]

In [ ]:
#write your code here

In [ ]:
lt =  [1,2,3,4,5,6,7,8,9,10]

lt2 = [2,4,6,8]

lt1=[]

n = len(lt)

for x in  range(0, n):
  if lt[x] not in lt2:
    lt1.append(lt[x])
  else:
    pass
lt1

7 - Write a Python program to given a list and turn every item of a list into its square
e.g : 

lt = [1, 2, 3, 4, 5, 6, 7]

output:

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
#write your code here

In [ ]:
lt = [1,2,3,4,5,6,7]
lt1=[]
for x in lt:
  sqr =x*x
  lt1.append(sqr)

lt1

8 - Write a python program to given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

lt1 = [10, 20, 30, 40]

lt2 = [100, 200, 300, 400]

 output :

10 400

20 300

30 200

40 100

In [ ]:
#write your code here

In [ ]:
lt1 = [10,20,30,40]

lt2 = [100,200,300,400]

lt3 = lt2.reverse()
n = len(lt1)

for x in range(0, n):
  print(lt1[x] , "", +lt2[x])

9 - Write a python program to remove empty string from the list of strings

lt = ["shiva", "", "rajit", "nikhil", "", "gaurav"]

output:

["shiva", "rajit", "nikhil", "gaurav"]

In [ ]:
#write your code here

In [ ]:
test_list = ["shiva" , "", "rajit", "nikhil", "", "gaurav"] 
  
test_list = ' '.join(test_list).split() 
       
print ("Modified list is : " + str(test_list))

10 - Write a  python program  given a list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value . 

lt = [5, 10, 15, 20, 25, 50, 20]

output:

lt = [5, 10, 15, 200, 25, 50, 20]

In [ ]:
#write your code here

In [ ]:
lt = [5,10,15,20,25,50,20]

n = 20

x = lt.index(n)

lt[x] = 200
lt